## Generating a data model for CLIWOC

In [1]:
import mdf_reader

2023-11-23 14:03:46,991 - root - INFO - init basic configure of logging success

In [2]:
schema = "imma1"
data_file_path = "../../tests/data/063-714_2010-07_subset.imma"
data_raw = mdf_reader.read(data_file_path, data_model=schema)

2023-11-23 14:03:47,022 - root - INFO - READING DATA MODEL SCHEMA FILE...
2023-11-23 14:03:47,029 - root - INFO - EXTRACTING DATA FROM MODEL: imma1
2023-11-23 14:03:47,031 - root - INFO - Getting data string from source...
2023-11-23 14:03:47,059 - root - INFO - Extracting and reading sections
2023-11-23 14:03:47,061 - root - INFO - Processing section partitioning threads
2023-11-23 14:03:47,062 - root - INFO - 1000 ...
2023-11-23 14:03:47,075 - root - INFO - done
2023-11-23 14:03:47,077 - root - INFO - 211000 ...
2023-11-23 14:03:47,099 - root - INFO - done
2023-11-23 14:03:47,100 - root - INFO - 21211000 ...
2023-11-23 14:03:47,105 - root - INFO - done
2023-11-23 14:03:47,106 - root - INFO - 29211000 ...
2023-11-23 14:03:47,125 - root - INFO - done
2023-11-23 14:03:47,126 - root - INFO - 2821211000 ...
2023-11-23 14:03:47,131 - root - INFO - done
2023-11-23 14:03:47,132 - root - INFO - 2929211000 ...
2023-11-23 14:03:47,135 - root - INFO - done
2023-11-23 14:03:47,136 - root - INFO - 282821211000 ...
2023-11-23 14:03:47,137 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98

2023-11-23 14:03:48,264 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE')
2023-11-23 14:03:48,266 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation

Reading section c99

2023-11-23 14:03:49,936 - root - INFO - Wrapping output....
2023-11-23 14:03:50,413 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [3]:
data_raw.data["c99"].head()

                                                 c99
0  99 0 48683,20100701,0000,  88.3790,  43.2100,1...
1  99 0 25629,20100701,0000,  87.8090, -54.8550,1...
2  99 0 25595,20100701,0000,  87.5610,  41.7610,1...
3  99 0 26558,20100701,0000,  87.4040,  17.9720,1...
4  99 0 26559,20100701,0000,  87.4030,  17.9730,1...

In [4]:
line = data_raw.data["c99"].iloc[3].values[0]
line

'99 0 26558,20100701,0000,  87.4040,  17.9720,1,        ,    ,       ,       , ,   1.60,1,1013.60,1,       , ,       , ,       ,'

In [5]:
len(line)

127

In [6]:
model_path = "../../mdf_reader/data_models/library/imma1_d730"
data_file_path = "../../tests/data/133-730_1776-10_subset.imma"

In [7]:
data = mdf_reader.read(data_file_path, data_model_path=model_path)

2023-11-23 14:03:50,578 - root - INFO - READING DATA MODEL SCHEMA FILE...
2023-11-23 14:03:50,585 - root - INFO - EXTRACTING DATA FROM MODEL: ../../mdf_reader/data_models/library/imma1_d730
2023-11-23 14:03:50,587 - root - INFO - Getting data string from source...
2023-11-23 14:03:50,598 - root - INFO - Extracting and reading sections
2023-11-23 14:03:50,600 - root - INFO - Processing section partitioning threads
2023-11-23 14:03:50,602 - root - INFO - 1000 ...
2023-11-23 14:03:50,613 - root - INFO - done
2023-11-23 14:03:50,614 - root - INFO - 211000 ...
2023-11-23 14:03:50,623 - root - INFO - done
2023-11-23 14:03:50,624 - root - INFO - 29211000 ...
2023-11-23 14:03:50,630 - root - INFO - done
2023-11-23 14:03:50,631 - root - INFO - 3029211000 ...
2023-11-23 14:03:50,633 - root - INFO - done
2023-11-23 14:03:50,634 - root - INFO - 303029211000 ...
2023-11-23 14:03:50,635 - root - INFO - done
2023-11-23 14:03:50,636 - root - INFO - 30303029211000 ...
2023-11-23 14:03:50,638 - root - INFO - done
2023-11-23 14:03:50,639 - root - INFO - 3030303029211000 ...
2023-11-23 14:03:50,640 - root - INFO - done

Reading section core
Reading section c1
Reading section c5
Reading section c6
Reading section c7
Reading section c8
Reading section c9
Reading section c95
Reading section c96
Reading section c97
Reading section c98
Reading section c99_sentinal
Reading section c99_logbook
Reading section c99_voyage

2023-11-23 14:03:51,277 - root - WARNING - Data numeric elements with missing upper or lower threshold: ('c1', 'BSI'),('c1', 'AQZ'),('c1', 'AQA'),('c1', 'UQZ'),('c1', 'UQA'),('c1', 'VQZ'),('c1', 'VQA'),('c1', 'PQZ'),('c1', 'PQA'),('c1', 'DQZ'),('c1', 'DQA'),('c5', 'OS'),('c5', 'OP'),('c5', 'FM'),('c5', 'IMMV'),('c5', 'IX'),('c5', 'W2'),('c5', 'WMI'),('c5', 'SD2'),('c5', 'SP2'),('c5', 'IS'),('c5', 'RS'),('c5', 'IC1'),('c5', 'IC2'),('c5', 'IC3'),('c5', 'IC4'),('c5', 'IC5'),('c5', 'IR'),('c5', 'RRR'),('c5', 'TR'),('c5', 'NU'),('c5', 'QCI'),('c5', 'QI1'),('c5', 'QI2'),('c5', 'QI3'),('c5', 'QI4'),('c5', 'QI5'),('c5', 'QI6'),('c5', 'QI7'),('c5', 'QI8'),('c5', 'QI9'),('c5', 'QI10'),('c5', 'QI11'),('c5', 'QI12'),('c5', 'QI13'),('c5', 'QI14'),('c5', 'QI15'),('c5', 'QI16'),('c5', 'QI17'),('c5', 'QI18'),('c5', 'QI19'),('c5', 'QI20'),('c5', 'QI21'),('c5', 'QI22'),('c5', 'QI23'),('c5', 'QI24'),('c5', 'QI25'),('c5', 'QI26'),('c5', 'QI27'),('c5', 'QI28'),('c5', 'QI29'),('c5', 'RHI'),('c5', 'AWSI'),('c6', 'FBSRC'),('c6', 'MST'),('c7', 'OPM'),('c7', 'LOT'),('c9', 'CCe'),('c9', 'WWe'),('c9', 'Ne'),('c9', 'NHe'),('c9', 'He'),('c9', 'CLe'),('c9', 'CMe'),('c9', 'CHe'),('c9', 'SBI'),('c95', 'DPRO'),('c95', 'DPRP'),('c95', 'UFR'),('c95', 'ASIR'),('c96', 'ASII'),('c97', 'ASIE'),('c99_voyage', 'drLatDeg'),('c99_voyage', 'drLatMin'),('c99_voyage', 'drLatSec'),('c99_voyage', 'drLonDeg'),('c99_voyage', 'drLonMin'),('c99_voyage', 'drLonSec'),('c99_voyage', 'LatDeg'),('c99_voyage', 'LatMin'),('c99_voyage', 'LatSec'),('c99_voyage', 'LonDeg'),('c99_voyage', 'LonMin'),('c99_voyage', 'LonSec'),('c99_voyage', 'LMdistance1'),('c99_voyage', 'LMdistance2'),('c99_voyage', 'LMdistance4'),('c99_voyage', 'TimeOB'),('c99_voyage', 'Glasses'),('c99_data', 'AT_outside'),('c99_data', 'SST'),('c99_data', 'attached_tem')
2023-11-23 14:03:51,279 - root - WARNING - Corresponding upper and/or lower bounds set to +/-inf for validation

Reading section c99_data

2023-11-23 14:03:56,389 - root - INFO - Wrapping output....
2023-11-23 14:03:56,464 - root - INFO - CREATING OUTPUT DATA ATTRIBUTES FROM DATA MODEL

In [8]:
data.data[["c99_sentinal"]].head()

  c99_sentinal
          ATTI ATTL  BLK
0           99    0  NaN
1           99    0  NaN
2           99    0  NaN
3           99    0  NaN
4           99    0  NaN

In [9]:
data.data[["c99_logbook"]].c99_logbook.describe(include="all")

,InstAbbr,InsName,InsPlace,InsLand,No_data_entry,NameArchiveSet,ArchivePart,Specification,Logbook_id,Logbook_language,Image_No,Illustr
count,289,289,289,289,58,3,55,55,289,289,55,289
unique,6,6,6,4,2,1,1,2,16,4,10,1
top,NMM,NATIONAL MARITIME MUSEUM,GREENWICH,UNITED KINGDOM,20,BIBLIOTHEEK NIWI,MCC,1391,MCC_20_1391,ENGLISH,MCC_20_1391_0033,0
freq,144,144,144,160,55,3,55,31,31,160,10,289

In [10]:
import pandas as pd

pd.options.display.max_columns = None
data.data[["c99_voyage"]].c99_voyage.describe(include="all")

,drLatDeg,drLatMin,drLatSec,drLatHem,drLonDeg,drLonMin,drLonSec,drLonHem,LatDeg,LatMin,LatSec,LatHem,LonDeg,LonMin,LonSec,LonHem,LatInd,LonInd,ZeroMeridian,LMname1,LMdirection1,LMdistance1,LMname2,LMdirection2,LMdistance2,LMname3,LMdirection3,LMdistance4,PosCoastal,Calendar_type,logbook_date,TimeOB,Day_of_the_week,PartDay,Watch,Glasses,Start_day,ShipName,Nationality,Ship_type,Company,Name1,Rank1,Name2,Rank2,Name3,Rank3,voyage_from,voyage_to,Anchored_ind,AnchorPlace,DASno,VoyageIni,Course_ship,Ship_speed,Distance,EncName,EncNat
count,226.000000,235.000000,235.000000,235,182.000000,185.000000,185.000000,185,61.000000,67.000000,67.0,67,68.000000,69.000000,69.000000,69,289,289,289,152,120,119.000000,1,1,0.0,0,0,0.0,289,289,289,289.0,160,55,55,55.0,289,289,289,261,215,260,235,66,66,0,0,289,258,289,2,0,289,183,0,220,7,19
unique,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,NaN,NaN,NaN,2,4,5,14,16,107,NaN,1,1,NaN,0,0,NaN,2,1,31,NaN,7,1,1,<NA>,2,16,4,6,3,14,6,4,2,0,0,16,12,2,2,0,14,111,0,132,1,1
top,NaN,NaN,NaN,N,NaN,NaN,NaN,E,NaN,NaN,NaN,N,NaN,NaN,NaN,E,1,1,TENERIFE,PORT EGMONT,N83E,NaN,LAND,WTZ-ZTW,NaN,NaN,NaN,NaN,0,2,17711009,NaN,WEDNESDAY,3,VM,<NA>,12,ZANGGODIN,BRITISH,SLOOP,RN,J. VAN SPRANG,CAPTAIN,WILLIAM WHITE,1ST OFFICER/MASTER,NaN,NaN,GULF OF GUINEA,PLYMOUTH,0,BREST,NaN,17710815,WTN,NaN,30.00,FLORIDA,BRITISH
freq,NaN,NaN,NaN,160,NaN,NaN,NaN,166,NaN,NaN,NaN,49,NaN,NaN,NaN,59,184,157,83,62,3,NaN,1,1,NaN,NaN,NaN,NaN,257,289,11,NaN,27,55,55,<NA>,160,31,160,65,144,31,111,31,59,NaN,NaN,31,42,256,1,NaN,56,16,NaN,5,7,19
mean,29.814159,27.191489,0.085106,NaN,99.565934,29.140541,0.464865,NaN,20.131148,29.626866,0.0,NaN,223.911765,29.579710,0.826087,NaN,NaN,NaN,NaN,NaN,NaN,291.411765,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,15.585206,17.464296,1.304656,NaN,135.741522,17.499433,4.660205,NaN,19.953676,17.325612,0.0,NaN,160.487851,16.023334,6.861994,NaN,NaN,NaN,NaN,NaN,NaN,261.433902,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,1.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.000000,NaN,1.000000,0.000000,0.0,NaN,1.000000,2.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,20.250000,12.000000,0.000000,NaN,10.000000,14.000000,0.000000,NaN,2.000000,15.500000,0.0,NaN,11.000000,15.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,100.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,33.000000,25.000000,0.000000,NaN,28.500000,30.000000,0.000000,NaN,14.000000,29.000000,0.0,NaN,330.000000,30.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,196.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,42.000000,42.000000,0.000000,NaN,313.750000,43.000000,0.000000,NaN,43.000000,44.500000,0.0,NaN,347.250000,42.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,399.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,61.000000,59.000000,20.000000,NaN,358.000000,59.000000,56.000000,NaN,60.000000,59.000000,0.0,NaN,359.000000,59.000000,57.000000,NaN,NaN,NaN,NaN,NaN,NaN,1098.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,NaN,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data.data[["c99_voyage"]].c99_voyage.ZeroMeridian.head()

0     TENERIFE
1    GREENWICH
2      NL_0_01
3      BERMUDA
4     TENERIFE
Name: ZeroMeridian, dtype: object

e.g. the ship types on this deck will be given in a tons of different languages. There is no code table for this variable in the CLIWOC website.

Would this information will be enough (e.g. for things that Liz is doing)?

In [12]:
data.data[["c99_voyage"]].c99_voyage.Ship_type.dropna().head()

0    PAQUEBOTE
2        SNAUW
3     5TH RATE
4     PAQUEBOT
5     PAQUEBOT
Name: Ship_type, dtype: object

In [13]:
data.data[["c99_data"]].c99_data.describe(include="all")

,AT_reading_units,SST_reading_units,AP_reading_units,BART_reading_units,ReferenceCourse,ReferenceWindDirection,Decl,Distance_units,Distance_units_to_landmark,Distance_units_travelled,Longitude_units,units_of_measurement,humidity_units,water_at_pump_units,wind_scale,BARO_type,BARO_brand,API,Humidity_method,compas_error,compas_correction,AT_outside,SST,AP,wind_dir,current_dir,current_speed,attached_tem,pump_water,Humidity,wind_force,weather,prcp_descriptor,sea_state,shape_coulds,dir_coulds,Clearness,cloud_fraction,gusts,Rain,Fog,Snow,Thunder,Hail,Sea_ice,Trivial_correction,Release
count,0,0,0,0,183,289,289,0,119,220,253,1,0,0,0,0,0,0,0,0,0,0.0,0.0,0,289,4,5,0.0,0,0,288,66,55,91,31,0,117,0,289,289,289,289,289,289,289,289,289
unique,0,0,0,0,1,1,41,0,1,4,3,1,0,0,0,0,0,0,0,0,0,NaN,NaN,0,185,3,3,NaN,0,0,118,22,21,32,10,0,25,0,2,2,2,2,2,2,2,2,3
top,NaN,NaN,NaN,NaN,UNKNOWN,UNKNOWN,21,NaN,LEAGUES,NM,360 DEGREES,CURRENT SPEED IN MILES PER HOUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,W,S,STERK,NaN,NaN,NaN,MODERATE,GOED WEER,RAIN,PICADA,OVERDRIJVENDE LUCHT,NaN,CLOUDY,NaN,0,0,0,0,0,0,0,0,CLIWOC VERSION 2.0
freq,NaN,NaN,NaN,NaN,183,289,33,NaN,119,128,114,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,2,2,NaN,NaN,NaN,28,22,24,24,10,NaN,45,NaN,274,234,287,284,284,288,288,285,234
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

What about the different scales for the wind force, given different languages?

In [14]:
data.data[["c99_data"]].c99_data.wind_force.head()

0    EN REFREGONES FUERTES Y DESPUES BONANCIBLE
1                                        FOIBLE
2               STIJVE GEREEFDE MARSZEILSKOELTE
3                       FRESH GALES AND SQUALLY
4                                    BONANCIBLE
Name: wind_force, dtype: object

For some of this data there are some code tables but according to the mdf reader we need a single code table.

We would have to make a nested .json file I think ... with the main key as the language. More ideas on how to do this are welcome.

I have done some of the easy key tables including the Meridian one. You can find those under  [ICOADS.C99.Variable.json](https://github.com/glamod/mdf_reader/tree/test_ll/mdf_reader/data_models/library/imma1_d730/code_tables)